/ButtonBlink-PIC16F1829.X/build/
/ButtonBlink-PIC16F1829.X/dist/
/Hw3Timers&Interrupts-PIC16F1829.X/build/
/Hw3Timers&Interrupts-PIC16F1829.X/dist/
/PWM-EASY-PIC16F1829.X/build/
/PWM-EASY-PIC16F1829.X/dist/
/PROJ_OPDR3-IRRemote-16F887.X/build/
/PROJ_OPDR3-IRRemote-16F887.X/dist/
/PROJ_OPDR3-IRRemote-16F1829.X/build/
/PROJ_OPDR3-IRRemote-16F1829.X/dist/
/HW5-SPI-16F887.X/build/
/HW5-SPI-16F887.X/dist/